In [1]:
#importing libraries
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import *

In [2]:
#importing data
data = pd.read_csv("C:\\users\\manideepreddy\\OneDrive\\Desktop\\MY DATASETS\\Social Ads.csv")

In [3]:
#printing the first five rows
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
#getting info
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [5]:
data.describe()

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

In [6]:
#finding the null vales
data.isna().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [7]:
#dropping the unwanted columns
x = data.drop(["Purchased","User ID","Gender"],axis = 1)

In [8]:
y = data["Purchased"]

In [9]:
x.head()

   Age  EstimatedSalary
0   19            19000
1   35            20000
2   26            43000
3   27            57000
4   19            76000

In [10]:
#splitting the data into traning and testing
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state = 101)

In [11]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.fit_transform(x_test)

In [12]:
x_train

array([[ 0.70196731, -1.28920196],
       [-0.9554555 , -0.31097586],
       [-0.9554555 ,  0.28188845],
       [ 0.01949909,  1.26011455],
       [ 0.99445369,  2.03083815],
       [ 1.48193098,  0.3708181 ],
       [-1.34543734, -0.42954872],
       [ 0.99445369,  1.46761706],
       [ 1.38443552, -1.43741804],
       [ 0.21449001,  0.04474273],
       [ 0.21449001,  0.16331559],
       [-0.85796004, -0.66669444],
       [-0.66296912, -0.04418692],
       [-0.27298729, -0.66669444],
       [-0.17549183,  0.87475276],
       [ 0.01949909, -0.31097586],
       [-0.85796004,  2.3272703 ],
       [ 1.77441736,  1.02296883],
       [ 0.40948093,  0.28188845],
       [ 2.06690374,  0.40046131],
       [-1.05295096, -1.14098588],
       [-0.27298729, -0.75562408],
       [ 0.01949909,  0.31153167],
       [-0.27298729, -0.13311656],
       [-0.27298729, -0.28133264],
       [-1.73541918,  0.48939096],
       [ 0.89695823,  1.05261205],
       [-0.76046458, -1.5559909 ],
       [-0.4679782 , -0.84455373],
       [ 0.21449001, -0.37026229],
       [ 0.89695823, -1.31884517],
       [ 1.09194914,  0.54867739],
       [-0.4679782 , -1.22991553],
       [ 0.21449001, -0.66669444],
       [ 0.79946277, -1.37813161],
       [ 0.21449001,  0.07438594],
       [-1.34543734, -1.37813161],
       [-0.07799637,  0.13367237],
       [ 0.31198547, -1.1706291 ],
       [-0.27298729,  2.29762709],
       [-0.07799637,  0.31153167],
       [ 0.89695823,  2.20869744],
       [-1.73541918,  0.3708181 ],
       [-1.15044642, -1.02241302],
       [-0.4679782 , -0.54812158],
       [-1.05295096,  2.00119494],
       [ 0.70196731,  0.28188845],
       [-1.63792372, -1.58563411],
       [-0.17549183,  2.20869744],
       [ 0.79946277,  0.78582311],
       [-1.24794188,  0.31153167],
       [-1.15044642,  0.31153167],
       [ 0.70196731,  1.82333564],
       [-1.54042826,  0.34117488],
       [ 0.31198547, -0.51847836],
       [ 0.40948093, -0.48883515],
       [-0.9554555 ,  0.51903417],
       [ 0.31198547, -0.54812158],
       [ 0.11699455, -0.81491051],
       [ 0.40948093,  1.14154169],
       [-1.05295096, -1.46706125],
       [ 0.31198547,  0.28188845],
       [ 1.96940828,  0.93403919],
       [ 0.99445369,  1.91226529],
       [-0.9554555 , -0.42954872],
       [ 0.21449001, -0.37026229],
       [ 1.38443552,  2.38655673],
       [-0.27298729, -0.25168942],
       [-1.15044642, -1.1706291 ],
       [ 0.40948093,  0.10402916],
       [ 0.21449001, -0.13311656],
       [-0.66296912, -1.52634768],
       [-0.07799637,  0.25224524],
       [ 0.79946277,  0.54867739],
       [ 1.38443552, -0.93348338],
       [-0.9554555 , -0.75562408],
       [ 2.06690374, -0.81491051],
       [-0.56547366, -1.52634768],
       [-0.27298729, -0.34061907],
       [-0.27298729, -0.42954872],
       [ 1.6769219 ,  1.79369243],
       [ 0.70196731, -1.11134267],
       [ 0.11699455,  1.91226529],
       [ 0.11699455,  0.28188845],
       [ 0.70196731, -1.40777482],
       [ 0.31198547, -0.31097586],
       [-0.66296912, -1.05205624],
       [ 0.40948093, -0.45919193],
       [ 0.79946277, -1.40777482],
       [-0.07799637, -1.08169945],
       [-0.27298729,  0.16331559],
       [-1.4429328 , -0.19240299],
       [ 1.6769219 , -0.90384016],
       [-0.27298729,  0.54867739],
       [ 0.21449001, -0.25168942],
       [-0.27298729,  0.07438594],
       [ 2.1643992 , -0.81491051],
       [-0.07799637, -0.51847836],
       [ 1.09194914, -0.13311656],
       [ 0.79946277,  1.40833063],
       [-0.17549183, -0.45919193],
       [ 1.48193098, -1.05205624],
       [-0.4679782 ,  1.28975777],
       [-1.34543734, -0.42954872],
       [ 0.99445369, -1.1706291 ],
       [-0.66296912,  1.43797385],
       [ 1.1894446 ,  0.54867739],
       [-0.56547366,  1.94190851],
       [-1.24794188, -1.40777482],
       [ 1.57942644, -1.28920196],
       [-1.15044642,  1.43797385],
       [ 0.31198547, -0.19240299],
       [ 0.21449001, -0.37026229],
       [ 2.1643992 , -1.05205624],
       [-0.27298729, -1.25955874],
       [ 2.06690374,  1.79369243],
       [-0.76046458, -0.60740801],
       [-1.05295096,  0.60796382],
       [-0.27298729, -1.46706125],
       [-0.27298729,  0.22260202],
       [-0.56547366,  0.48939096],
       [ 0.01949909, -0.57776479],
       [ 0.79946277,  0.13367237],
       [-0.9554555 , -0.31097586],
       [-1.15044642, -1.61527733],
       [ 0.99445369, -1.02241302],
       [-0.27298729, -0.48883515],
       [ 0.31198547, -0.28133264],
       [ 0.40948093,  0.01509951],
       [ 1.38443552,  0.60796382],
       [-0.17549183, -1.08169945],
       [ 1.77441736,  1.88262208],
       [ 2.1643992 , -0.81491051],
       [ 0.89695823, -1.46706125],
       [ 0.11699455,  0.78582311],
       [ 0.01949909, -0.25168942],
       [ 1.48193098,  0.07438594],
       [-0.07799637, -0.48883515],
       [-1.4429328 , -1.46706125],
       [ 1.1894446 , -0.99276981],
       [ 0.01949909, -0.57776479],
       [ 0.11699455,  0.16331559],
       [ 0.99445369, -1.08169945],
       [-1.15044642,  0.48939096],
       [ 1.09194914, -0.90384016],
       [-0.27298729,  0.63760703],
       [ 0.21449001,  2.14941101],
       [-0.27298729, -0.90384016],
       [ 1.09194914,  2.1197678 ],
       [-0.56547366,  1.40833063],
       [ 1.77441736, -0.28133264],
       [ 0.50697639,  1.76404921],
       [-1.15044642, -1.11134267],
       [-0.17549183, -0.57776479],
       [-0.85796004, -0.25168942],
       [ 0.01949909, -0.25168942],
       [-0.07799637,  0.07438594],
       [ 0.99445369, -0.84455373],
       [-0.27298729,  1.14154169],
       [ 1.28694006, -1.37813161],
       [-1.05295096,  0.43010453],
       [-0.85796004, -1.22991553],
       [ 1.57942644,  1.14154169],
       [-1.15044642,  0.34117488],
       [ 1.09194914, -0.99276981],
       [-1.34543734, -1.11134267],
       [-0.76046458,  0.31153167],
       [-1.15044642, -0.7852673 ],
       [ 1.57942644,  0.01509951],
       [ 1.96940828,  0.75617989],
       [-1.83291464,  0.01509951],
       [-1.34543734,  0.5783206 ],
       [-1.05295096, -0.34061907],
       [ 0.21449001,  1.11189848],
       [-1.34543734, -1.49670447],
       [ 2.1643992 , -0.69633765],
       [ 1.09194914, -1.22991553],
       [ 0.31198547, -0.72598087],
       [-0.66296912, -0.10347335],
       [ 0.99445369,  0.13367237],
       [ 0.21449001,  0.16331559],
       [-0.27298729, -1.31884517],
       [-1.34543734,  0.43010453],
       [ 0.99445369, -1.08169945],
       [-0.76046458, -0.22204621],
       [-0.37048275, -1.31884517],
       [ 0.50697639,  1.26011455],
       [ 1.28694006,  1.91226529],
       [ 0.11699455, -0.31097586],
       [-1.05295096,  0.78582311],
       [-1.24794188,  0.51903417],
       [-0.76046458,  0.28188845],
       [-1.54042826, -0.19240299],
       [-1.15044642, -1.5559909 ],
       [-1.15044642,  0.43010453],
       [-1.4429328 ,  0.3708181 ],
       [-0.07799637, -0.22204621],
       [ 0.11699455, -0.25168942],
       [ 0.01949909, -0.54812158],
       [-1.54042826, -0.42954872],
       [-0.9554555 ,  1.58618992],
       [ 2.06690374,  2.17905423],
       [ 1.09194914, -1.22991553],
       [-1.15044642, -1.58563411],
       [ 2.06690374,  0.54867739],
       [-0.07799637,  2.26798387],
       [-0.85796004,  0.40046131],
       [ 0.60447185,  2.06048137],
       [-0.27298729, -0.31097586],
       [-0.4679782 , -0.28133264],
       [ 0.89695823,  1.28975777],
       [-1.54042826, -1.25955874],
       [-1.73541918, -0.60740801],
       [ 0.01949909, -0.13311656],
       [ 0.21449001,  0.25224524],
       [ 1.87191282, -1.08169945],
       [ 0.89695823, -1.1706291 ],
       [ 1.1894446 , -1.46706125],
       [-0.27298729, -1.40777482],
       [-0.85796004,  0.40046131],
       [ 1.1894446 , -0.75562408],
       [ 0.79946277,  0.28188845],
       [ 0.70196731, -1.40777482],
       [ 0.89695823, -0.60740801],
       [-1.73541918,  0.13367237],
       [-0.07799637,  0.69689346],
       [-0.17549183,  1.64547635],
       [-0.4679782 , -1.14098588],
       [-1.24794188,  0.28188845],
       [-0.17549183,  1.67511957],
       [ 1.38443552,  1.31940098],
       [-0.27298729, -0.93348338],
       [ 0.31198547,  0.07438594],
       [-1.34543734, -1.25955874],
       [ 0.40948093, -0.13311656],
       [ 0.01949909, -0.42954872],
       [ 1.6769219 ,  1.64547635],
       [-0.17549183,  0.16331559],
       [ 0.40948093, -0.45919193],
       [-1.73541918, -0.99276981],
       [ 0.60447185, -0.90384016],
       [-1.93041009,  0.3708181 ],
       [-0.07799637,  0.28188845],
       [-1.05295096, -0.37026229],
       [-0.85796004, -0.7852673 ],
       [-0.07799637, -0.42954872],
       [-1.15044642, -1.61527733],
       [ 2.06690374, -1.20027231],
       [-1.54042826, -1.52634768],
       [-0.37048275, -0.7852673 ],
       [-0.76046458,  1.11189848],
       [ 0.89695823, -0.7852673 ],
       [ 0.40948093,  0.31153167],
       [-1.05295096, -0.45919193],
       [-0.37048275,  0.07438594],
       [-0.07799637,  0.01509951],
       [ 0.40948093,  1.02296883],
       [ 0.01949909,  0.04474273],
       [ 0.40948093,  0.60796382],
       [-1.15044642,  0.31153167],
       [-0.66296912,  0.13367237],
       [ 0.11699455,  0.10402916],
       [-1.83291464, -1.28920196],
       [ 0.89695823, -0.57776479],
       [-0.66296912,  0.1929588 ],
       [ 0.31198547,  0.04474273],
       [ 0.31198547, -0.51847836],
       [ 0.11699455,  1.08225526],
       [-1.83291464,  0.45974774],
       [-0.27298729,  0.16331559],
       [-1.83291464, -1.49670447],
       [ 1.96940828, -0.93348338],
       [ 0.31198547,  0.07438594],
       [ 0.40948093,  0.16331559],
       [ 0.89695823,  1.11189848],
       [ 0.79946277,  0.3708181 ],
       [-0.27298729, -0.37026229],
       [-0.4679782 ,  2.35691352],
       [-0.56547366,  2.38655673],
       [-0.17549183, -0.28133264],
       [ 0.99445369,  2.1197678 ],
       [-0.9554555 , -0.96312659],
       [-0.4679782 , -0.0145437 ],
       [-1.4429328 , -0.10347335],
       [ 0.99445369,  0.60796382],
       [ 1.48193098,  2.17905423],
       [-1.63792372,  0.07438594],
       [ 0.89695823, -0.54812158],
       [-1.05295096,  0.5783206 ],
       [ 2.1643992 ,  0.9636824 ],
       [-1.93041009, -0.51847836],
       [ 0.40948093, -0.13311656],
       [ 1.87191282,  0.13367237],
       [-0.27298729,  0.81546633],
       [-0.17549183,  1.43797385],
       [-0.9554555 ,  0.43010453],
       [-0.56547366,  1.40833063],
       [ 0.31198547,  0.51903417],
       [ 2.1643992 ,  0.40046131],
       [-1.73541918,  0.3708181 ],
       [-0.07799637,  0.04474273],
       [ 0.11699455,  1.55654671],
       [-0.66296912,  0.5783206 ],
       [ 0.70196731, -0.72598087],
       [-1.05295096, -0.34061907],
       [ 0.11699455,  0.04474273],
       [-0.85796004, -0.7852673 ],
       [ 0.31198547,  0.31153167],
       [ 1.57942644,  1.02296883],
       [ 1.28694006,  2.26798387],
       [ 0.79946277, -0.84455373],
       [-0.76046458,  0.51903417],
       [-1.05295096, -1.5559909 ],
       [-0.37048275,  1.26011455],
       [-0.9554555 ,  0.45974774],
       [-0.56547366,  1.49726028],
       [ 0.31198547,  0.07438594],
       [-0.27298729,  0.28188845],
       [-1.15044642, -0.51847836],
       [-0.07799637,  0.16331559]])

In [13]:
y_train

17     1
138    0
57     0
234    0
287    1
      ..
63     1
326    0
337    0
11     0
351    0
Name: Purchased, Length: 320, dtype: int64

In [14]:
print(x_train.shape,x_test.shape,y_train.shape,y_test.shape)

(320, 2) (80, 2) (320,) (80,)

In [15]:
#fitting the model
lr = LogisticRegression()
lr.fit(x_train,y_train)

LogisticRegression()

In [16]:
#predicting the values
pred = lr.predict(x_test)
pred

array([0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [17]:
#accuracy
accuracy_score(y_test,pred)

0.85